<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ailunwang.appupdate">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".service.UpdateService" android:process=":update"/>
    </application>

</manifest>
