<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="init.Init"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.myproject.MainActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity android:name="com.myproject.LoginActivity" />
        <activity android:name="com.myproject.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.myproject.Regist_UserTypeActivity" />
        <activity android:name="com.myproject.Regist_StoreActivity" />
        <activity android:name="com.myproject.Regist_PersonalActivity" />
        <activity android:name="com.myproject.IndentActivity" />
        <activity android:name="com.myproject.PayActivity" />
        <activity
            android:name="com.myproject.GoodsListActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name="com.myproject.GoodsDetailsActivity" />
        <activity android:name="com.myproject.SearchActivity" />
        <activity android:name="com.myproject.WashActivity" />
        <activity android:name="com.myproject.GarageActivity" />
        <activity android:name="com.myproject.OrderActivity" />
        <activity android:name="com.myproject.TransactionActivity" />
        <activity android:name="com.myproject.ChooseCarTypeActivity" />
        <activity android:name="com.myproject.ChhoseCarActivity" />
        <activity android:name="com.myproject.WaitEvaluateActivity" />
        <activity android:name="com.myproject.MaintainRecordActivity" />
        <activity android:name="helpfragment.HelperActivity" />
        <activity android:name="com.myproject.SettingActivity" />
        <activity android:name="com.myproject.AboutActivity" />
        <activity android:name="com.myproject.PersonalInformationActivity" />
        <activity android:name="com.myproject.CompileAddressActivity" />
        <activity android:name="com.myproject.ManageAddressActivity"
            android:launchMode="singleTop"/>
        <activity android:name="com.myproject.RetrievePasswordActivity" />
        <activity android:name="com.myproject.ModificationAddressActivity" />
        <activity android:name="com.myproject.SalesActivity"/>
        <activity
            android:name="com.myproject.ModificationPasswordActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.myproject.NoticeActivity" />
        <activity android:name="com.myproject.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myproject.LeaderActivity"/>
        <activity android:name="com.myproject.NoticeHtmlActivity"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
    </application>

</manifest>